bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs

ApiGateway/.vs
ApiGateway/appsettings.json
ApiGateway/Configs

AuditService/.vs
AuditService/Configs
AuditService/Models/DbConnection
AuditService/appsettings.json

ContextService/.vs
ContextService/appsettings.json
ContextService/Configs

IdentityClient/.vs
IdentityClient/Configs
IdentityClient/appsettings.json

IdentityServer/.vs
IdentityServer/appsettings.json
IdentityServer/Configs

MdmService/.vs
MdmService/appsettings.json
MdmService/Configs

MdrService/.vs
MdrService/appsettings.json
MdrService/Configs

RmsService/.vs
RmsService/appsettings.json
RmsService/Configs

UserService/.vs
UserService/appsettings.json
UserService/Configs
