bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea

api-gateway/appsettings.json

context-services/appsettings.json
context-services/Models/DbConnection

identity-services/appsettings.json


mdm-services/appsettings.json
mdm-services/Models/DbConnection

mdr-services/appsettings.json


rms-services/appsettings.json
rms-services/Models/DbConnection

user-services/appsettings.json
