bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea

ApiGateway/appsettings.json

ContextService/appsettings.json
ContextService/Models/DbConnection

IdentityService/appsettings.json
IdentityService/Configs
IdentityService/Models/DbConnection

MdmService/appsettings.json
MdmService/Models/DbConnection

MdrService/appsettings.json


RmsService/appsettings.json
RmsService/Models/DbConnection

UserService/appsettings.json
UserService/Models/DbConnection